@model TicketSystem.Web.ViewModels.MyAccountModel

<section class="container vh-100 bg-image">
    <div class="mask d-flex align-items-center gradient-custom-3 " style="margin-top:50px">
        <div class="container ">
            <div class=" d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">

                            <h2 class="text-uppercase text-center mb-5">My account</h2>

                            <form onsubmit="if(!confirm('Is the form filled out correctly?')){return false;}" asp-action="MyAccount" asp-controller="Account" asp-antiforgery="true">
                                <div class="validation" asp-validation-summary="ModelOnly"></div>

                                <table class="table border">
                                    <tbody>
                                        <tr>
                                            <td><label asp-for="Username">Username</label></td>
                                            <td>@Model.Username</td>
                                            <td>Not editable<input type="hidden" name="Username" value="@Model.Username" /></td>
                                        </tr>
                                        <tr>
                                            <td><label asp-for="Role">Role</label></td>
                                            <td>@Model.Role.RoleName</td>
                                            <td>Not editable<input type="hidden" name="Role" value="@Model.Role" /></td>
                                        </tr>
                                        <tr>
                                            <td><label asp-for="Email">Email</label></td>
                                            <td>@(Model.Email == null ? "Empty" : Model.Email)</td>
                                            <td><input type="email" asp-for="Email" /></td>
                                            <td><span asp-validation-for="Email"></span></td>
                                        </tr>
                                        <tr>
                                            <td>Name</td>
                                            <td>@(Model.Name == null ? "Empty" : Model.Name)</td>
                                            <td><input type="text" asp-for="Name" /></td>
                                            <td><span asp-validation-for="Name"></span></td>
                                        </tr>
                                        <tr>
                                            <td>Surname</td>
                                            <td>@(Model.Surname == null ? "Empty" : Model.Surname)</td>
                                            <td><input type="text" asp-for="Surname" /></td>
                                            <td><span asp-validation-for="Surname"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success btn-lg "
                                            style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                        Submit
                                    </button>
                                </div>
                            </form>
                            <br />

                            <div class="text-center">
                                <a button class="btn btn-primary btn-lg"
                                   style="padding-left: 2.5rem; padding-right: 2.5rem;"
                                   asp-action="ChangePassword" asp-controller="Account">
                                    Change password
                                </a>
                            </div>
                            <br />
                            <div class="text-center">
                                <form onsubmit="if(!confirm('Account will be deleted.')){return false;}" asp-action="DeleteAccount" asp-controller="Account">
                                    <button type="submit" class="btn btn-primary btn-lg"
                                            style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                        Delete my account
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
