
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body>
    @{
        string role = (((ClaimsIdentity)User.Identity).Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value)).FirstOrDefault();
    }
    <div class="header">
        <a asp-action="Index" asp-controller="Home">
            <img src="~/img/main-icon.png" alt="Alternate Text" width="60" height="60" />
        </a>
        <div class="login-section">
            @if (@User.Identity.Name == null)
            {
                <a asp-action="Register" asp-controller="Account">Register</a>
                <a asp-action="Login" asp-controller="Account">Login</a>
            }
            else
            {
                <a asp-action="MyAccount" asp-controller="Account">@User.Identity.Name</a>
                <a asp-action="CreateNewTicket" asp-controller="Ticket">Create a ticket</a>
                <a asp-action="Logout" asp-controller="Account">Lougout</a>
            }
            @if (role == "admin")
            {
                <a asp-action="UserManaging" asp-controller="Admin">User managing</a>
                <a asp-action="Index" asp-controller="Customer">Ticket managing</a>
            }
            @if (role == "support")
            {
                <a asp-action="Index" asp-controller="Customer">Ticket managing</a>
            }
            @if (role == "customer")
            {<a asp-action="GetMyTickets" asp-controller="Ticket">My tickets</a>}
        </div>
    </div>


    <div>
        @RenderBody()
    </div>


    <div class="footer">
        <div class="server-time">
            @DateTime.Now.ToString("dddd, dd MMMM yyyy")
        </div>
        <p>© 2022 Test Inc. </p>
    </div>

</body>
</html>
