@model List<TicketSystem.Web.ViewModels.ShortTicket>

<h3>User @Model[0].Creator has @Model.Count ticket(s).</h3>

<table>
    <tr>
        <th>Ticket ID</th>
        <th>Creator</th>
        <th>Title</th>
        <th>Creation date</th>
        <th>Ticket state</th>
        <th>Solver</th>
    </tr>
    @foreach (TicketSystem.Web.ViewModels.ShortTicket ticket in Model)
    {
        <tr>
            <td>@ticket.Id</td>
            <td>@ticket.Creator</td>
            <td>@ticket.Title</td>
            <td>@ticket.DateCreated</td>
            <td>@ticket.TicketState</td>
            <td>@ticket.Solver</td>
            <td><a asp-action="GetTicket" asp-controller="Ticket" asp-route-id="@ticket.Id">Details</a></td>
        </tr>
    }
</table>