@model TicketSystem.Web.ViewModels.ChangeUserModel

<form onsubmit="if(!confirm('User info will be changed.')){return false;}" asp-action="ChangeUser" asp-controller="Admin">
    <table>
        <thead>
            <tr>
                <th class="tg-0pky">Items</th>
                <th class="tg-0pky">Values</th>
                <th class="tg-0pky">NewValue</th>
                <th class="tg-0pky">Save Changes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tg-0pky">ID</td>
                <td class="tg-0pky">@Model.Id</td>
                <td>
                    <div class="form-group">
                        <input type="hidden" value="@Model.Id" asp-for="Id" />
                        <span asp-validation-for="Id"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tg-0pky">Username</td>
                <td class="tg-0pky">@Model.Username</td>
                <td>
                    <div class="form-group">
                        <input type="hidden" value="@Model.Username" asp-for="@Model.Username" />
                        <span asp-validation-for="Username"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tg-0pky">Email</td>
                <td class="tg-0pky">@Model.Email</td>
                <td>
                    <div class="form-group">
                        <input type="text" asp-for="Email" />
                        <span asp-validation-for="Email"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tg-0pky">Name</td>
                <td class="tg-0pky">@Model.Name</td>
                <td>
                    <div class="form-group">
                        <input type="text" asp-for="Name" />
                        <span asp-validation-for="Name"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tg-0pky">Surname</td>
                <td class="tg-0pky">@Model.Surname</td>
                <td>
                    <div class="form-group">
                        <input type="text" asp-for="Surname" />
                        <span asp-validation-for="Surname"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tg-0pky">DateCreated</td>
                <td class="tg-0pky">@Model.DateCreated</td>
                <td>
                    <div class="form-group">
                        <input type="hidden" value="@Model.DateCreated" asp-for="DateCreated" />
                        <span asp-validation-for="DateCreated"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tg-0pky">DateChanged</td>
                <td class="tg-0pky">@Model.DateChanged</td>
                <td>
                    <div class="form-group">
                        <input type="hidden" value="@Model.DateChanged" asp-for="DateChanged" />
                        <span asp-validation-for="DateChanged"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tg-0pky">Role</td>
                <td class="tg-0pky">@Model.RoleName</td>
                <td>
                    <div class="form-group">
                        <p>
                            <select asp-for="RoleName">
                                <option disabled>Role</option>
                                <option selected value="customer">Customer</option>
                                <option value="support">Support</option>
                                <option value="admin">Admin</option>
                            </select>
                        </p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="form-group">
        <input type="submit" value="Save changes" />
    </div>
</form>

@*asp-action="ChangeUserPassword" asp-controller="Admin" asp-fragment="@Model.Username"*@

<a asp-action="ChangeUserPassword" asp-controller="Admin" asp-route-id="@Model.Id">Change password</a>

<div>
    <form onsubmit="if(!confirm('Account will be deleted.')){return false;}" asp-action="DeleteUser" asp-controller="Admin">
        <div class="form-group">
            <input name="id" type="hidden" value="@Model.Id">
            <input type="submit" value="Delete account" />
        </div>
    </form>
</div>