@{ #region old
    @*@model TicketSystem.Web.ViewModels.FindUserModel*@
    @*@model (List<TicketSystem.Web.ViewModels.FindUserModel>, TicketSystem.Web.ViewModels.FindUserModel)*@

    @*<form asp-action="UserManaging" asp-controller="Admin" asp-antiforgery="true">
            <div class="form-group">
                <label asp-for="Username">Username</label>
                <input type="text" asp-for="Username" />
                <span asp-validation-for="Username"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleName">Role</label>
                <input type="text" asp-for="RoleName" />
                <span asp-validation-for="RoleName"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Find user" />
            </div>
        </form>*@
    #endregion
}

@model List<TicketSystem.Web.ViewModels.FindUserModel>

@{ if (Model.Count == 0)
        Model.Add(new TicketSystem.Web.ViewModels.FindUserModel());
}

<form asp-action="UserManaging" asp-controller="Admin" asp-antiforgery="true">
    <div class="form-group">
        <label asp-for="@Model[0].Username">Username</label>
        <input type="text" asp-for="@Model[0].Username" />
        <span asp-validation-for="@Model[0].Username"></span>
    </div>
    <div class="form-group">
        <p>
            <label asp-for="@Model[0].RoleName"></label>
            <select asp-for="@Model[0].RoleName">
                <option disabled>Role</option>
                <option selected value="customer">Customer</option>
                <option value="support">Support</option>
                <option value="admin">Admin</option>
            </select>
        </p>
    </div>
    <div class="form-group">
        <input type="submit" value="Find user" />
    </div>
</form>

<div>
    <a asp-action="CreateNewUser" asp-controller="Admin">Create new user</a>
</div>

@{if (Model[0].Username != String.Empty && Model[0].Username != null)
    {
        <h2>Were found @Model.Count results.</h2>
        <br />
        <table>
            <tr>
                <th>Username</th>
                <th>Role</th>
                <th>Change</th>
                <th>Tickets</th>

            </tr>
            @foreach (TicketSystem.Web.ViewModels.FindUserModel user in Model)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.RoleName</td>
                    <td>
                        <form asp-action="GetUserInfo" asp-controller="Admin" asp-antiforgery="true">
                            <div class="form-group">
                                <input name="username" type="hidden" value="@user.Username">
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Change" />
                            </div>
                        </form>
                    </td>
                    <td>
                        <form asp-action="GetUserTickets" asp-controller="Admin" asp-antiforgery="true">
                            <div class="form-group">
                                <input name="username" type="hidden" value="@user.Username">
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Show tickets" />
                            </div>
                        </form>
                    </td>
                </tr>
            }
        </table>
    }
}
