@model List<TicketSystem.Web.ViewModels.ShortTicket>

<table>
    <tr>
        <th>Ticket ID</th>
        <th>Title</th>
        <th>Creation date</th>
        <th>Ticket state</th>

    </tr>
    @foreach (TicketSystem.Web.ViewModels.ShortTicket ticket in Model)
    {
        <tr>
            <td>@ticket.Id</td>
            <td>@ticket.Title</td>
            <td>@ticket.DateCreated</td>
            <td>@ticket.TicketState</td>
            <td><a asp-action="GetTicket" asp-controller="Ticket" asp-route-id="@ticket.Id">Details</a></td>
        </tr>
    }
</table>