@model List<TicketSystem.Web.ViewModels.ShortTicket>

@{ if (Model == null || Model.Count == 0)
        Model.Add(new TicketSystem.Web.ViewModels.ShortTicket());
}


<div class="container mt-3">
    <form asp-action="GetTicketList" asp-controller="Ticket" method="get" asp-antiforgery="true">
        <div class="row">
            <div class="col-2">
                <label asp-for="@Model[0].Id">Ticket ID</label>
            </div>
            <div class="col-2">
                <input type="text" asp-for="@Model[0].Id" />
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label asp-for="@Model[0].Creator">Creator username</label>
            </div>
            <div class="col-2">
                <input type="text" asp-for="@Model[0].Creator" />
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label asp-for="@Model[0].Solver">Solver username</label>
            </div>
            <div class="col-2">
                <input type="text" asp-for="@Model[0].Solver" />
            </div>
        </div>
        <div class="row">
            <p>
                <div class="col-2">
                    <label asp-for="@Model[0].TicketState"></label>
                </div>
                <div class="col-2">
                    <select asp-for="@Model[0].TicketState">
                        <option disabled>Status</option>
                        <option selected value="0">All</option>
                        <option value="@TicketState.Created">Created</option>
                        <option value="@TicketState.Assigned">Assigned</option>
                        <option value="@TicketState.Solved">Solved</option>
                    </select>
                </div>
            </p>
        </div>
        <div class="form-group">
            <input type="submit" value="Find ticket" />
        </div>
    </form>
</div>

@{
    if (Model.Count >= 1 && Model[0].Id != 0)
    {
        <div class="container mt-4">
            <h3>Tickets were found @Model.Count</h3>
            <table class="table border">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Creator</th>
                        <th>Solver</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (TicketSystem.Web.ViewModels.ShortTicket ticket in Model)
                    {
                        <tr>
                            <td>@ticket.Id</td>
                            <td>@ticket.Creator</td>
                            <td>@ticket.Solver</td>
                            <td>@ticket.TicketState</td>
                            <td>
                                <a asp-action="GetTicket" asp-controller="Ticket" asp-route-id="@ticket.Id">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}
