@model TicketSystem.Web.ViewModels.TicketInfoModel


<section id="registerContainer" class="container vh-100 bg-image">
    <div class="mask d-flex align-items-center gradient-custom-3 " style="margin-top:50px">
        <div class="container ">
            <div class=" d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Ticket ID @Model.Id</h2>

                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="tg-0pky">Ticket ID</td>
                                        <td class="tg-0pky">@Model.Id</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-0pky">Title</td>
                                        <td class="tg-0pky">@Model.Title</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-0pky">Descritpion</td>
                                        <td class="tg-0pky"><textarea rows="2" cols="50" class="form-control form-control-lg" disabled>@Model.Description</textarea></td>
                                    </tr>
                                    <tr>
                                        <td class="tg-0pky">Status</td>
                                        <td class="tg-0pky">@Model.TicketState</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-0pky">Created</td>
                                        <td class="tg-0pky">@Model.DateCreated</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-0pky">Changed</td>
                                        <td class="tg-0pky">@Model.StateChanged</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-0pky">Requestor</td>
                                        <td class="tg-0pky">@Model.CreatorName</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-0pky">Solver</td>
                                        <td class="tg-0pky">@Model.SolverName</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-0pky">Solution</td>
                                        <td class="tg-0pky"><textarea rows="2" cols="50" class="form-control form-control-lg" disabled>@Model.Solution</textarea></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>

                                @{
                                    if (((User.IsInRole("support") && Model.SolverName == User.Identity.Name) || (User.IsInRole("admin")) && Model.TicketState != TicketState.Solved)
                                        && (Model.Solution == null || Model.Solution == string.Empty))
                                    {
                                        <div class="form-group">
                                            <form onsubmit="if(!confirm('Ticket will be closed.')){return false;}" asp-action="CloseTicketWithSolution" asp-controller="Ticket">
                                                <label asp-for="Solution">Your solution</label>
                                                <textarea rows="2" cols="50" asp-for="Solution" class="form-control form-control-lg"></textarea>
                                                <input button class="btn btn-primary mt-2" type="submit" value="Close ticket" />
                                                <input asp-for="Id" type="hidden" value="@Model.Id" />
                                                <input asp-for="SolverName" type="hidden" value="@Model.SolverName" />

                                            </form>
                                        </div>
                                    }
                                }
                                @{
                                    if (User.IsInRole("support") && Model?.SolverName != User.Identity.Name && Model.TicketState != TicketState.Solved)
                                    {
                                        <form onsubmit="if(!confirm('Ticket will be assigned on you.')){return false;}" asp-action="AssignOnMe" asp-controller="Ticket" asp-route-id="@Model.Id">
                                            <input button class="btn btn-primary mt-2" type="submit" value="Assign on me" />
                                        </form>
                                    }
                                }

                                @{
                                    if (User.IsInRole("support") && Model?.SolverName == User.Identity.Name && Model.TicketState != TicketState.Solved)
                                    {
                                        <form onsubmit="if(!confirm('Ticket will be unassigned from you.')){return false;}" asp-action="UnassignFromMe" asp-controller="Ticket" asp-route-id="@Model.Id">
                                            <input button class="btn btn-primary mt-2" type="submit" value="Unassign from me" />
                                        </form>
                                    }
                                }

                                @{
                                    if (User.IsInRole("customer") && Model.CreatorName == User.Identity.Name && Model.TicketState != TicketState.Solved)
                                    {
                                        <form onsubmit="if(!confirm('Ticket will be closed.')){return false;}" asp-action="CloseTicketByCustomer" asp-controller="Ticket" asp-route-id="@Model.Id">
                                            <input button class="btn btn-primary mt-2" type="submit" value="Close ticket" />
                                        </form>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>